body{margin: 0;padding: 0;}
header{background-color: rgba(100,56,125,0.3);display: flex;flex-direction: row;}
ul li{display: inline;}
div{position: relative;width: 100%;height: 160px;}
[src*="sujet"]{position: absolute;width: 100%;height: 100%;}